{
    "openapi": "3.1.0",
    "info": {
        "title": "PDS Registry Search API",
        "description": "RestFul web API provided to search all classes of products in the PDS registries.",
        "contact": {
            "name": "Contact PDS Engineering Node Support",
            "email": "pds_operator@jpl.nasa.gov"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.6.0"
    },
    "externalDocs": {
        "description": "User's Guide",
        "url": "https://nasa-pds.github.io/pds-api/guides/search.html"
    },
    "servers": [
        {
            "url": "https://pds.mcp.nasa.gov/api/search/1",
            "description": "Generated server url"
        }
    ],
    "tags": [
        {
            "name": "health",
            "description": "the health API"
        }
    ],
    "paths": {
        "/docs": {
            "post": {
                "tags": [
                    "5. all docs"
                ],
                "summary": "WORK IN PROGRESS: search on all registry documents by posting an OpenSearch DSL query ",
                "operationId": "docs",
                "parameters": [
                    {
                        "name": "indices",
                        "in": "query",
                        "description": "syntax: indices=index1,index2... notes: OpenSearch indices ",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string",
                                "description": "OpenSearch DSL query"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/properties": {
            "get": {
                "tags": [
                    "1. all products"
                ],
                "summary": "return a list of all possible searchable metadata fields for products published in the registry ",
                "operationId": "productPropertiesList",
                "responses": {
                    "200": {
                        "description": "An array of all searchable properties of products in the registry.",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PropertiesListInner"
                                    }
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PropertiesListInner"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PropertiesListInner"
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PropertiesListInner"
                                    }
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PropertiesListInner"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PropertiesListInner"
                                    }
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PropertiesListInner"
                                    }
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PropertiesListInner"
                                    }
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PropertiesListInner"
                                    }
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PropertiesListInner"
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PropertiesListInner"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products": {
            "get": {
                "tags": [
                    "1. all products"
                ],
                "summary": "search the latest-versioned instances of all PDS data products, including bundles, collections, documentation, context and observational products. ",
                "operationId": "productList",
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "syntax: fields=field1,field2,...  behavior: this parameter and the headder Accept: type determine what content is packaged for the result. While the types application/csv, application/kvp+json, and text/csv return only the fields requesteted, all of the other types have a minimal set of fields that must be returned. Duplicating a minimally required field in this parameter has not effect. The types vnd.nasa.pds.pds4+json and vnd.nasa.pds.pds4+xml have a complete set of fields that must be returned; meaning this parameter does not impact their content. When fields is not used, then the minimal set of fields, or all when minimal is an empty set, is returned.  notes: the blob fields are blocked unless specifically requrested and only for the *_/csv and application/kvp+csv types. ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "keywords",
                        "in": "query",
                        "description": "syntax: keyword=keyword1,keyword2,...  behavior: free text search on title and description (if set q is ignored ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "syntax: limit=10  behavior: maximum number of matching results returned, for pagination ",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 100,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "syntax: q=\"vid eq 13.0\"  behavior: query uses eq,ne,gt,ge,lt,le,(,),not,and,or operators. Properties are named as in 'properties' attributes, literals are strings between quotes, like \"animal\", or numbers. Detailed query specification is available at https://bit.ly/3h3D54T  note: ignored when keyword is present ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "syntax: sort=field0,field1,...  behavior: currently only sorts ascending ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search-after",
                        "in": "query",
                        "description": "syntax: search-after=sortField0Value,sortField1Value,...  behavior: for each field specified in the \"sort\" qparam, specify the field value for the last result returned in the previous page   It is strongly recommended to use ops:Harvest_Info/ops:harvest_date_time as your final sort field, to ensure successful pagination.   Remember to url-encode special characters, ex. /products?limit=10&sort=ops%3AHarvest_Info%2Fops%3Aharvest_date_time ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "facet-fields",
                        "in": "query",
                        "description": "syntax: facet-fields=field1&facet-fields=field2...  behavior: Return bucket aggregations for each field specified, as part of the response.   The facet values and counts will be accessible via attribute \"bucket_by_$field\" ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "facet-limit",
                        "in": "query",
                        "description": "syntax: facet-limit=10  behavior: set the number n for which facets will return the n-most-populous buckets ",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10,
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products/{identifier}": {
            "get": {
                "tags": [
                    "1. all products"
                ],
                "summary": "returns one PDS Product with the identifier selected from all PDS Products, including bundles, collections, data, documentation, context and observational products. See identifier for details on how it determines what is returned. ",
                "operationId": "selectByLidvid",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "syntax: lidvid or lid  behavior (lid): returns one or more items whose lid matches this lid exactly. If the endpoint ends with the identifier or /latest then a signle result is returned and it is the highest version. If the endpoint ends with /all then all versions of the lid are returned.  behavior (lidvid): returns one and only one item whose lidvid matches this lidvid exactly.  note: the current lid/lidvid resolution will match all the lids that start with lid. In other words, it acts like a glob of foobar*. It behavesn this way from first character to the last  note: simple sorting of the lidvid is being done to select the latest from the end of the list. However, the versions 1.0, 2.0, and 13.0 will sort to 1.0, 13.0, and 2.0 so the end of the list may not be the latest. ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "syntax: fields=field1,field2,...  behavior: this parameter and the headder Accept: type determine what content is packaged for the result. While the types application/csv, application/kvp+json, and text/csv return only the fields requesteted, all of the other types have a minimal set of fields that must be returned. Duplicating a minimally required field in this parameter has not effect. The types vnd.nasa.pds.pds4+json and vnd.nasa.pds.pds4+xml have a complete set of fields that must be returned; meaning this parameter does not impact their content. When fields is not used, then the minimal set of fields, or all when minimal is an empty set, is returned.  notes: the blob fields are blocked unless specifically requrested and only for the *_/csv and application/kvp+csv types. ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products/{identifier}/members": {
            "get": {
                "tags": [
                    "2. product references"
                ],
                "summary": "returns all of the members of the given lid/lidvid ",
                "operationId": "productMembers",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "syntax: lidvid or lid  behavior (lid): returns one or more items whose lid matches this lid exactly. If the endpoint ends with the identifier or /latest then a signle result is returned and it is the highest version. If the endpoint ends with /all then all versions of the lid are returned.  behavior (lidvid): returns one and only one item whose lidvid matches this lidvid exactly.  note: the current lid/lidvid resolution will match all the lids that start with lid. In other words, it acts like a glob of foobar*. It behavesn this way from first character to the last  note: simple sorting of the lidvid is being done to select the latest from the end of the list. However, the versions 1.0, 2.0, and 13.0 will sort to 1.0, 13.0, and 2.0 so the end of the list may not be the latest. ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "syntax: fields=field1,field2,...  behavior: this parameter and the headder Accept: type determine what content is packaged for the result. While the types application/csv, application/kvp+json, and text/csv return only the fields requesteted, all of the other types have a minimal set of fields that must be returned. Duplicating a minimally required field in this parameter has not effect. The types vnd.nasa.pds.pds4+json and vnd.nasa.pds.pds4+xml have a complete set of fields that must be returned; meaning this parameter does not impact their content. When fields is not used, then the minimal set of fields, or all when minimal is an empty set, is returned.  notes: the blob fields are blocked unless specifically requrested and only for the *_/csv and application/kvp+csv types. ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "syntax: limit=10  behavior: maximum number of matching results returned, for pagination ",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 100,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "syntax: q=\"vid eq 13.0\"  behavior: query uses eq,ne,gt,ge,lt,le,(,),not,and,or operators. Properties are named as in 'properties' attributes, literals are strings between quotes, like \"animal\", or numbers. Detailed query specification is available at https://bit.ly/3h3D54T  note: ignored when keyword is present ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "syntax: sort=field0,field1,...  behavior: currently only sorts ascending ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search-after",
                        "in": "query",
                        "description": "syntax: search-after=sortField0Value,sortField1Value,...  behavior: for each field specified in the \"sort\" qparam, specify the field value for the last result returned in the previous page   It is strongly recommended to use ops:Harvest_Info/ops:harvest_date_time as your final sort field, to ensure successful pagination.   Remember to url-encode special characters, ex. /products?limit=10&sort=ops%3AHarvest_Info%2Fops%3Aharvest_date_time ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "facet-fields",
                        "in": "query",
                        "description": "syntax: facet-fields=field1&facet-fields=field2...  behavior: Return bucket aggregations for each field specified, as part of the response.   The facet values and counts will be accessible via attribute \"bucket_by_$field\" ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "facet-limit",
                        "in": "query",
                        "description": "syntax: facet-limit=10  behavior: set the number n for which facets will return the n-most-populous buckets ",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10,
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products/{identifier}/members/{versions}": {
            "get": {
                "tags": [
                    "2. product references"
                ],
                "summary": "returns all of the members of the given lid/lidvid ",
                "operationId": "productMembersVers",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "syntax: lidvid or lid  behavior (lid): returns one or more items whose lid matches this lid exactly. If the endpoint ends with the identifier or /latest then a signle result is returned and it is the highest version. If the endpoint ends with /all then all versions of the lid are returned.  behavior (lidvid): returns one and only one item whose lidvid matches this lidvid exactly.  note: the current lid/lidvid resolution will match all the lids that start with lid. In other words, it acts like a glob of foobar*. It behavesn this way from first character to the last  note: simple sorting of the lidvid is being done to select the latest from the end of the list. However, the versions 1.0, 2.0, and 13.0 will sort to 1.0, 13.0, and 2.0 so the end of the list may not be the latest. ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versions",
                        "in": "path",
                        "description": "syntax: one of the allowable enum values  This is a shortcut for doing a query with ... ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "syntax: fields=field1,field2,...  behavior: this parameter and the headder Accept: type determine what content is packaged for the result. While the types application/csv, application/kvp+json, and text/csv return only the fields requesteted, all of the other types have a minimal set of fields that must be returned. Duplicating a minimally required field in this parameter has not effect. The types vnd.nasa.pds.pds4+json and vnd.nasa.pds.pds4+xml have a complete set of fields that must be returned; meaning this parameter does not impact their content. When fields is not used, then the minimal set of fields, or all when minimal is an empty set, is returned.  notes: the blob fields are blocked unless specifically requrested and only for the *_/csv and application/kvp+csv types. ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "syntax: limit=10  behavior: maximum number of matching results returned, for pagination ",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 100,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "syntax: q=\"vid eq 13.0\"  behavior: query uses eq,ne,gt,ge,lt,le,(,),not,and,or operators. Properties are named as in 'properties' attributes, literals are strings between quotes, like \"animal\", or numbers. Detailed query specification is available at https://bit.ly/3h3D54T  note: ignored when keyword is present ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "syntax: sort=field0,field1,...  behavior: currently only sorts ascending ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search-after",
                        "in": "query",
                        "description": "syntax: search-after=sortField0Value,sortField1Value,...  behavior: for each field specified in the \"sort\" qparam, specify the field value for the last result returned in the previous page   It is strongly recommended to use ops:Harvest_Info/ops:harvest_date_time as your final sort field, to ensure successful pagination.   Remember to url-encode special characters, ex. /products?limit=10&sort=ops%3AHarvest_Info%2Fops%3Aharvest_date_time ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products/{identifier}/members/members": {
            "get": {
                "tags": [
                    "2. product references"
                ],
                "summary": "returns all of the members of the members of the given lid/lidvid ",
                "operationId": "productMembersMembers",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "syntax: lidvid or lid  behavior (lid): returns one or more items whose lid matches this lid exactly. If the endpoint ends with the identifier or /latest then a signle result is returned and it is the highest version. If the endpoint ends with /all then all versions of the lid are returned.  behavior (lidvid): returns one and only one item whose lidvid matches this lidvid exactly.  note: the current lid/lidvid resolution will match all the lids that start with lid. In other words, it acts like a glob of foobar*. It behavesn this way from first character to the last  note: simple sorting of the lidvid is being done to select the latest from the end of the list. However, the versions 1.0, 2.0, and 13.0 will sort to 1.0, 13.0, and 2.0 so the end of the list may not be the latest. ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "syntax: fields=field1,field2,...  behavior: this parameter and the headder Accept: type determine what content is packaged for the result. While the types application/csv, application/kvp+json, and text/csv return only the fields requesteted, all of the other types have a minimal set of fields that must be returned. Duplicating a minimally required field in this parameter has not effect. The types vnd.nasa.pds.pds4+json and vnd.nasa.pds.pds4+xml have a complete set of fields that must be returned; meaning this parameter does not impact their content. When fields is not used, then the minimal set of fields, or all when minimal is an empty set, is returned.  notes: the blob fields are blocked unless specifically requrested and only for the *_/csv and application/kvp+csv types. ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "syntax: limit=10  behavior: maximum number of matching results returned, for pagination ",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 100,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "syntax: q=\"vid eq 13.0\"  behavior: query uses eq,ne,gt,ge,lt,le,(,),not,and,or operators. Properties are named as in 'properties' attributes, literals are strings between quotes, like \"animal\", or numbers. Detailed query specification is available at https://bit.ly/3h3D54T  note: ignored when keyword is present ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "syntax: sort=field0,field1,...  behavior: currently only sorts ascending ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search-after",
                        "in": "query",
                        "description": "syntax: search-after=sortField0Value,sortField1Value,...  behavior: for each field specified in the \"sort\" qparam, specify the field value for the last result returned in the previous page   It is strongly recommended to use ops:Harvest_Info/ops:harvest_date_time as your final sort field, to ensure successful pagination.   Remember to url-encode special characters, ex. /products?limit=10&sort=ops%3AHarvest_Info%2Fops%3Aharvest_date_time ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "facet-fields",
                        "in": "query",
                        "description": "syntax: facet-fields=field1&facet-fields=field2...  behavior: Return bucket aggregations for each field specified, as part of the response.   The facet values and counts will be accessible via attribute \"bucket_by_$field\" ",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "facet-limit",
                        "in": "query",
                        "description": "syntax: facet-limit=10  behavior: set the number n for which facets will return the n-most-populous buckets ",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10,
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unsuccessful request",
                        "content": {
                            "*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/kvp+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.nasa.pds.pds4+xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
[...]
